/* 
################ ------- #################
################ BANNER  #################
################ ------- #################
*/

.bannerWords{
    position: absolute;
    top: 170px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-family: 'Bree Serif', serif;
}

/* 
################ ------- #################
################ BodyBar #################
################ ------- #################
*/

.bodybar-color{
    background-color: #7fb439;
}