
.border-p{
border-right: 1px solid rgb(167, 167, 167);
border-left: 1px solid rgb(167, 167, 167);
}

.description{
    border-bottom: 1px solid rgb(167, 167, 167);
}

.color-bg-header{
    background-color: rgb(224, 223, 223);
}

.button-opacity{
}

.body-w{
    width: 700px;
}

.modal-image{
    border-radius: 200px;
    height: 250px;
    overflow: hidden;
}
.div-image{
    overflow: hidden;
    border-radius: 200px;
    display: flex;
    justify-content: center;
}

.input-comment{
    outline: none;
    border: none;
}

.div-comments-body{
max-height: 200px;
}

.scrollhidden{
    overflow-y: scroll;
}
.scrollhidden::-webkit-scrollbar {
    display: none;
}

.capital{
    text-transform: capitalize;
}
.link-style-yellow{
    color: black;
}
.link-style-yellow:hover{
    color: rgb(250, 199, 16);
}