
.custom-style-detail{
    width: 400px;
}

.img-card-banner{
    filter: grayscale(50%);
}

.beer-head-img{
    width: 150px;
    height: 130px;
    border-radius: 100px;
    position: absolute;
    top: 40px;
    left: 125px;
}

.input-detail{
    
    border: none;
    border-bottom: 3px dashed rgb(90, 90, 90);
    outline: none;
}


.comment-style{
    border-radius: 10px;
    padding: 5px;
}

.capital{
    text-transform: capitalize;
}