.color-back{
    background-color: rgb(223, 223, 223);
}

.white{
    color: white;
    background-color: white;
}

#dummyframe{
    display: none;
}

.max-h{
    max-height: 200px;
}

.pum{
    overflow-y: auto;
    white-space: wrap;
}