/*  #---------------------------------------------#
    #----------------- GLOBAL    -----------------#
    #---------------------------------------------# */

    .bounce-in-top{animation:bounce-in-top 1.5s both}
    @keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}
    
    :root{
        --first-color: rgb(250, 199, 16);
    }
    

    .color-head{
        background: rgb(250, 199, 16);
    }

    .color-bg{
        background: rgb(204, 168, 40);
    }
    
    .custom-img{
    max-height: 90%;
    max-width: 170%;
    }

    .borde{
        border-radius: 10px;
        border: 1px solid rgb(219, 219, 219);
        
    }

    .header{
        height: 40px;
        vertical-align: middle;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .back-color{
        background-color: rgb(224, 223, 223);
    }
/*  #---------------------------------------------#
    #----------------- BANNER    -----------------#
    #---------------------------------------------# */

    

    .banner-container{
        /* width: 860px;
        min-width: 834px; */
        /* height: 250px; */
        overflow: hidden;
    }
    /* .banner-img{
        position: relative;
        bottom: 220px;
    } */

    /* .beer-container{
        width: 1000px;
        min-width: 834px;
    } */

/*  #---------------------------------------------#
    #----------------- SCROLLBAR -----------------#
    #---------------------------------------------# */

.scrollmenu-x{
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
}

.scrollmenu-y{
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    max-height: 500px;
}

/*  #---------------------------------------------#
    #----------------- CARDS EXPANDED ------------#
    #---------------------------------------------# */

/* .mes{
    width: 300px;
    
} */
.asd{
    width: 100%;
}
.ddd{
    display: inline;
}

.mes-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
    vertical-align: middle;

}

.decor-link{
text-decoration: none;
color: black;

}
.decor-link:hover{
    color:rgb(204, 168, 40)
}