/* FUENTE DEFAULT */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Finlandica:ital@1&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&family=Square+Peg&display=swap');

.backgroundColor{
    background-color: rgb(204, 204, 204);
}

.scrollmenu-x{
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
}

.scrollmenu-y{
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    max-height: 500px;
}