/* .pos_login{
    position: absolute;
    top: 200px;
    right: 200px;
    background-color: rgb(224, 223, 223);
} */
.jello-horizontal{animation:jello-horizontal 2s ease-in 5 both}
@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}

.puff-in-center{animation:puff-in-center 2s cubic-bezier(.47,0.000,.745,.715) both}
@keyframes puff-in-center{0%{transform:scale(2);filter:blur(4px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}

button.active{
    background-color: black !important;
    color: white !important;
}

.bg-color{
    background-color: rgba(224, 223, 223, 0.446);
}
.h-color{
    color: white;
}

.h-center{
    height: 100%;
}

.container-form-width{
    max-width: 400px;
}

.video{
    object-fit: cover;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    
}

/* .video{
    width: 100%;
    height: auto;
} */

/* 
div className="rounded w-25 ms-auto pos_login container-width"
*/

.btn-dark:hover{
    background-color: rgb(226, 189, 54);
    border-color: rgb(226, 189, 54);
}

.form-control:focus { 
    border-color: rgb(226, 189, 54); 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075), 0px 0px 8px 3px rgb(226, 189, 54); }

