/* 
################ ------- #################
################ MODALS  #################
################ ------- #################
*/

.inputStyle{
    border: none;
    border-bottom: 1px solid black;
}

.inputStyle:focus{
    /* outline: none; */
    outline-color: green;
}