/* VARIABLES */

.custom-navbar{
    background-color: var(--first-color)
}

.custom-buttom{
    font-size: 25px;
    color: white;
    /* border-radius: 5px; */
}

.custom-buttom:hover{
    color: rgb(250, 199, 16);
}

/* .custom-buttom-div{
    position: relative;
    left: 20%;
    
} */

.drop-size{
    position: relative;
    right: 40px;
    top: 1px;
}

.user-icon-size{
    font-size: 25px;
    color: white;
}
.user-icon-size:hover{
    color: rgb(250, 199, 16);
}

@media only screen and (max-width: 1000px){
    .custom-buttom-div{
        position: relative;
        left: 18%;
        
    }
}

@media only screen and (max-width: 850px){
    .custom-buttom-div{
        position: relative;
        left: 15%;
        
    }
}

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .custom-buttom-div{
        position: relative;
        left: 13%;
        
    }
  }

.navbar-link{
    text-decoration: none;
}
