.banner-h{
    height: 228px;
}

.name-size{
    
    /* padding: 50px; */
    border-radius: 20px;
}

.link-style-yellow-2{
    color: black;
}
.link-style-yellow-2:hover{
    color: rgb(250, 199, 16);
}

.perfil-bg{
    background-color: rgba(0, 0, 0, 0.808);
    
}

.img-profile{
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
